<ion-content padding [ngSwitch]="current_div" [ngStyle]="{ 'background-color': bg_color }" text-wrap>



  <div *ngSwitchDefault>

    <p>
      Subject number:
    </p>
    <ion-item>
      <ion-input [(ngModel)]="subj_id" type="number">
      </ion-input>
    </ion-item>

    <br/>
    <p>
      Select condition:
    </p>
    <ion-item>
      <ion-select [(ngModel)]="pre_cond" interface="popover" style="max-width:100%;" placeholder="- select -">
        <ion-option value="0">0 (i - name first)</ion-option>
        <ion-option value="1">1 (i - anim first)</ion-option>
        <ion-option value="2">2 (g - name first)</ion-option>
        <ion-option value="3">3 (g - anim first)</ion-option>
      </ion-select>
    </ion-item>
    <br/>
    <br/>
    <br/>
    <br/>
    <div text-center>
      <button ion-button type="button" style="text-transform: none;" (tap)="initials();switch_divs('div_dems');" *ngIf="pre_cond != 9999 && subj_id > 0 && subj_id < 109 "><b> condition {{pre_cond}} - subject num {{subj_id}} </b> </button>
    </div>

  </div>


  <div *ngSwitchCase="'div_dems'">
    <header>
      <ion-navbar>
        <ion-title>
          Details
        </ion-title>
      </ion-navbar>
    </header>

    <form (ngSubmit)="task_start();" [formGroup]="form_dems">

      <p style="border-bottom: 2px solid grey; padding-bottom:10px">
        Make sure to enter the <b>exact</b> same items both on the PC and on the phone. In your name, always use the exact same characters.
      </p>

      <span style="padding-left: 16px;float: left;">
        Your forename:
    </span>

      <ion-item style="padding-bottom:30px;">
        <ion-label class="stackedlabels" *ngIf="!form_dems.controls.name_inp.valid  && submit_failed" stacked>Please enter a valid name.</ion-label>
        <ion-input formControlName="name_inp" type="text" [class.invalid]="!form_dems.controls.name_inp.valid  && submit_failed"></ion-input>
      </ion-item>
      <span style="padding-left: 16px;float: left;">
        Your gender:
    </span>
      <ion-item style="padding-bottom:30px;">
        <ion-label class="stackedlabels" stacked *ngIf="!form_dems.controls.gender_inp.valid  && submit_failed">Please choose gender.</ion-label>
        <ion-select interface='popover' formControlName="gender_inp" [class.invalid]="!form_dems.controls.gender_inp.valid  && submit_failed" placeholder="- select -">
          <ion-option value="1">Male</ion-option>
          <ion-option value="2">Female</ion-option>
        </ion-select>
      </ion-item>
      <span style="padding-left: 16px;float: left;">
        Your favorite animal (among the options):
    </span>
      <ion-item style="padding-bottom:30px;">
        <ion-label class="stackedlabels" *ngIf="!form_dems.controls.animal_inp.valid  && submit_failed" stacked> Please select an animal.</ion-label>
        <ion-select interface='action-sheet' formControlName="animal_inp" [class.invalid]="!form_dems.controls.animal_inp.valid  && submit_failed" style="max-width:100%;" placeholder="- select -">
          <ion-option *ngFor="let item of animals_sorted" value="{{item}}">{{item}}</ion-option>

        </ion-select>
      </ion-item>


      <p *ngIf="!form_dems.valid  && submit_failed" style="color: red;">Please fill out all details accurately.</p>

      <button ion-button type="submit" block>OK</button>
    </form>
  </div>

  <div *ngSwitchCase="'div_instructions'">

    <ion-title>
      Task instructions
    </ion-title>
    <p>During the task, there will be two buttons at the bottom of the screen: one on the <i>left-hand side</i> and one on the <i>right-hand side</i>. <span [innerHTML]="task_instruction"></span></p>
    <div text-center>
      <button ion-button (tap)="nextblock();">OK</button>
    </div>
  </div>

  <div *ngSwitchCase="'div_target_check'">

    <p><b>To make sure you correctly memorized the target details, please fill them in below.</b>
    </p>
    <br/><br/> Target forename:
    <ion-item text-uppercase>
      <ion-input [(ngModel)]="targ_check_inp[0]" type="text" text-uppercase>
      </ion-input>
    </ion-item>
    <br/> Target animal:
    <ion-item>
      <ion-input [(ngModel)]="targ_check_inp[1]" type="text" text-uppercase>
      </ion-input>
    </ion-item>

    <p><br/>
    </p>
    <div text-center>
      <button ion-button (tap)="target_check();">OK</button>
    </div>
  </div>


  <div *ngSwitchCase="'div_blockstart'">
    <p [innerHTML]="block_texts[blocknum]"></p>
    <div text-center>
      <button ion-button (tap)="runblock();">Start</button>
      <hr/>
      <button ion-button style="text-transform: none;background-color:#5e749d;" (tap)="switch_divs('div_instructions');">show instructions again</button>
    </div>
  </div>


  <div id="div_cit_main" *ngSwitchCase="'div_cit_main'">
    <p id="feed_id"><b>{{feed_text}}</b></p>
    <p id="label_top" *ngIf="visib.labels">Recognize?</p>

    <p (touchstart)="touchstart($event, 'resp_a');" (touchend)="touchend($event, 'resp_a');" id="resp_left" class="resp_buttons"></p>

    <p (touchstart)="touchstart($event, 'resp_b');" (touchend)="touchend($event, 'resp_b');" id="resp_right" class="resp_buttons"></p>

    <p id="label_left" class="labels" *ngIf="visib.labels">No</p>

    <p id="label_right" class="labels" *ngIf="visib.labels">Yes</p>

    <p id="stimulus">{{stimulus_text}}</p>

    <p id="start_text" (tap)="visib.start_text = false; start_trials();" *ngIf="visib.start_text">Tap this to begin.</p>
  </div>

  <div  *ngSwitchCase="'div_end'">


    <header>
      <ion-navbar (swipeleft)="visib.sending = true">
        <ion-title>
          The End
        </ion-title>
      </ion-navbar>
    </header>
    <br/>
    <b>
    <br/>This is the end of this test.
    <br/>
    <br/>Let the experiment leader know.
    </b>
    <br/>
    <br/>
    <br/>
    <br/>
    <div text-center>
      <button ion-button type="button" (tap)="store_data()" *ngIf="visib.sending || true" style="text-transform: none;">*data*</button>
    </div>
  </div>


    <ion-input (keypress)="onChange($event)" [(ngModel)]="to_exec" type="text" style="color:red; position:absolute;"></ion-input>

</ion-content>
