<ion-content padding [ngSwitch]="current_div" [ngStyle]="{ 'background-color': bg_color, 'border': border_style }" text-wrap>


  <div *ngSwitchDefault>


    <ion-navbar (swipeleft)="switch_if_filled();">
      Bitte messen Sie Ihren Bildschirm aus (im roten Rahmen).
    </ion-navbar>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label class="ionslabel" stacked>Lange Seite</ion-label>
            <ion-input [(ngModel)]="screen_size.longer" type="number">
            </ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label class="ionslabel" stacked>Kurze Seite</ion-label>
            <ion-input [(ngModel)]="screen_size.shorter" type="number">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div *ngSwitchCase="'div_dems'" [ngStyle]="{'pointer-events': pointev.div_dems || 'none' }">

    <form [formGroup]="form_dems">


      <p style="border-bottom: 2px solid grey; padding-bottom:10px">
        Bitte füllen Sie die folgenden Angaben aus.
      </p>
      <ion-grid>
        <ion-row>
          <ion-col>
            <span style="padding-left: 16px;float: left;">
            VP Nummer (wie auf dem Instruktionsblatt beschrieben):
            </span>
            <ion-item style="padding-bottom:30px;">
              <ion-label class="stackedlabels" stacked><span *ngIf="!form_dems.controls.subj_id_inp.valid  && submit_failed" class="error_label">Bitte geben Sie die korrekte Nummer (1-200) ein.</span></ion-label>
              <ion-input formControlName="subj_id_inp" type="number" [class.invalid]="!form_dems.controls.subj_id_inp.valid  && submit_failed"></ion-input>
            </ion-item>

          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <span style="padding-left: 16px;float: left;">
              Ihr Vorname:
              </span>
            <ion-item style="padding-bottom:30px;">
              <ion-label class="stackedlabels" *ngIf="!form_dems.controls.forename_inp.valid  && submit_failed" stacked>Bitte geben Sie einen gültigen Namen ein.</ion-label>
              <ion-input formControlName="forename_inp" type="text" [class.invalid]="!form_dems.controls.forename_inp.valid  && submit_failed" maxlength="14" text-uppercase></ion-input>
            </ion-item>

          </ion-col>
        </ion-row>


        <ion-row>
          <ion-col>
            <span style="padding-left: 16px;float: left;">
        Ihr Nachname:
        </span>
            <ion-item style="padding-bottom:30px;">
              <ion-label class="stackedlabels" *ngIf="!form_dems.controls.surname_inp.valid  && submit_failed" stacked>Bitte geben Sie einen gültigen Namen ein.</ion-label>
              <ion-input formControlName="surname_inp" type="text" [class.invalid]="!form_dems.controls.surname_inp.valid  && submit_failed" maxlength="14" text-uppercase></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>


            <span style="padding-left: 16px;float: left;">
                            Ihr Geschlecht:</span>
            <ion-item style="padding-bottom:30px;">
              <ion-label class="stackedlabels" stacked *ngIf="!form_dems.controls.gender_inp.valid  && submit_failed">Bitte wählen Sie ein Geschlecht aus.</ion-label>
              <ion-select interface='popover' formControlName="gender_inp" [class.invalid]="!form_dems.controls.gender_inp.valid  && submit_failed" style="max-width:100%;" placeholder="- select -">
                <ion-option value="1">männlich</ion-option>
                <ion-option value="2">weiblich</ion-option>
              </ion-select>
            </ion-item>


          </ion-col>
          <ion-col>
            <span style="padding-left: 16px;float: left;">
                            Alter:
                            </span>
            <ion-item>
              <ion-label class="stackedlabels" stacked><span *ngIf="!form_dems.controls.age_inp.valid  && submit_failed" class="error_label">Bitte geben Sie ein gültiges Alter ein (nur Ziffern, 17-30).</span></ion-label>
              <ion-input formControlName="age_inp" type="number" [class.invalid]="!form_dems.controls.age_inp.valid  && submit_failed"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <p *ngIf="!form_dems.valid  && submit_failed" style="color: red;">Bitte füllen Sie alle Details genau aus.</p>

      <button ion-button type="button" (tap)="initials();" block>OK</button>


    </form>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>


  <div *ngSwitchCase="'div_confirm'">
    Bitte überprüfen Sie noch einmal, dass:
    <br/><br/> (1)  die eingegebene VP-Nummer der auf dem Papier entspricht:<br/><br/>
    <div text-center><b>{{subj_id}}</b></div>
    <br/> (2) der von Ihnen eingegebene Name fehlerfrei buchstabiert ist: <br/><br/>
    <div text-center><b>{{true_forename.toUpperCase()}} {{true_surname.toUpperCase()}}</b></div>
    <br/>
    <hr/>

    <div style="float: left">
      <button ion-button type="button" (tap)="switch_divs('div_dems');">Nein (Angaben ändern)</button></div> &nbsp;
    <div style="float: right">
      <button ion-button type="button" (tap)="task_start();">JA, alles korrekt</button>
    </div>
  </div>

  <div *ngSwitchCase="'div_instructions'">

    <ion-title>
      Instruktionen für die Aufgabe
    </ion-title>
    <p>Während der Aufgabe werden Sie im unteren Bereich des Displays zwei Schaltflächen sehen: Eine auf der <i>linken Seite</i> und eine auf der <i>rechten</i>. In diesem aktuellen Teil, bitte benutzen Sie nur Ihre linken und rechten <b>{{crrnt_handpos}}</b> zum Antippen!
        <span [innerHTML]="task_instruction"></span></p>
    <div text-center>
      <button ion-button type="button" (tap)="nextblock();">OK</button>
    </div>
  </div>

  <div *ngSwitchCase="'div_target_check'" [ngStyle]="{'pointer-events': pointev.div_target_check || 'none' }">

    <span><b>Um sicherzustellen, dass Sie sich die Details, auf die Sie mit JA antworten sollen, genau einprägen, geben Sie diese bitte hier ein.</b>
    </span>

    <ion-grid>
      <ion-row>
        <ion-col>
          <br/><span style="padding-left: 16px;"> Vorname:</span>
          <ion-item text-uppercase>
            <ion-input [(ngModel)]="targ_check_inp[0]" type="text" text-uppercase>
            </ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <br/><span style="padding-left: 16px;">Nachname:</span>
          <ion-item>
            <ion-input [(ngModel)]="targ_check_inp[1]" type="text" text-uppercase>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <br/>
    <div text-center>
      <button ion-button (tap)="target_check();">OK</button>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>


  <div *ngSwitchCase="'div_blockstart'">
    <p [innerHTML]="block_texts[blocknum]"></p>
    <i>(Bitte stellen Sie sicher, dass Sie Ihre <b>{{crrnt_handpos}}</b> zum Antippen benutzen.)</i><br/><br/>
    <div text-center>
      <button ion-button (tap)="runblock();">Start</button>
      <br/><br/>
      <hr/>
      <button ion-button style="text-transform: none;background-color:#5e749d;" (tap)="switch_divs('div_instructions');">Anweisungen erneut anzeigen</button>
    </div>
  </div>


  <div id="div_cit_main" *ngSwitchCase="'div_cit_main'">
    <p id="feed_id"><b>{{feed_text}}</b></p>
    <p id="label_top" *ngIf="visib.labels">Erkannt?</p>

    <p (touchstart)="touchstart($event, 'resp_a');" (touchend)="touchend($event, 'resp_a');" id="resp_left" class="resp_buttons"></p>

    <p (touchstart)="touchstart($event, 'resp_b');" (touchend)="touchend($event, 'resp_b');" id="resp_right" class="resp_buttons"></p>

    <p id="label_left" class="labels" *ngIf="visib.labels">Nein</p>

    <p id="label_right" class="labels" *ngIf="visib.labels">Ja</p>

    <p id="stimulus">{{stimulus_text}}</p>

    <p id="start_text" (tap)="visib.start_text = false; start_trials();" *ngIf="visib.start_text">Tippen Sie hier, um zu beginnen.</p>
  </div>

  <div *ngSwitchCase="'div_end'">
    <header>
      <ion-navbar>
        <ion-title>
          Ende
        </ion-title>
      </ion-navbar>
    </header>
    <b>Bitte senden Sie die Daten mit folgender Taste (wählen Sie nach dem Tastendruck aus den angegebenen Applikationen Ihr Email-Programm aus):
    <div text-center>
      <button ion-button type="button" (tap)="send_mail()" style="text-transform: none;">DATEN SENDEN</button>
    </div>
    <br/> Stellen Sie sicher, dass sich eine Datei im Anhang befindet. Wenn es irgendwelche Probleme gibt, geben Sie uns Bescheid. Nach dem Versenden der Mail können Sie die Applikation beenden. Vielen Dank für Ihre Teilnahme.
    </b>
    <br/>
    <br/>Kurze Information über den Test:
    <br> In dieser Studie versuchen wir, Ihre wirklichen selbstbezogenen Details (z.B. Ihren tatsächlichen Vornamen) von solchen zu unterscheiden, die Ihnen nicht zugehörig sind (z.B. andere Vornamen). Ziel dieses Tests ist es, anhand von Reaktionszeiten
    herauszufinden, wenn eine Person versucht, bestimmte Daten zu verschleiern bzw. zu verheimlichen. Dies geschieht auf Basis der Vermutung, dass Reaktionszeiten für die Ihnen präsentierten eigenen Namen langsamer ausfallen, als im Falle anderer
    Namen. Hauptanliegen der aktuellen Studie ist es, zu zeigen, ob dies besser mit Daumen oder Zeigefinger funktioniert.
    <br><br>
    Bezüglich Ihrer Ergebnisse: Der Unterschied zwischen Ihrem eingenen Namen und den anderen Namen ist standardisiert. Dieser Wert liegt üblicherweise zwischen -1 und 5. Ist der Wert größer als 1, kategorisieren wir diese Person als schuldig. Ihr Wert liegt bei {{personal_feedback}}.

    <br><br> Falls Sie sich für die endgültigen Ergebnisse der Studie interessieren, senden Sie einfach eine Email mit dem Betreff "FEEDBACK" an die gleiche Addresse, die Sie zum Senden der Datei genutzt haben (gaspar.lukacs@univie.ac.at). Wir senden Ihnen dann gerne eine Kopie des resultierenden Manuskripts zu (etwa im Laufe eines halben Jahres).
    <br>Für weitere unmittelbare Informationen wenden Sie sich bitte an den Versuchsleiter.
    <br/>
    <br/>
    <br/>
    <hr/>
    <hr/>
    Technical details:
      <br/>
      <p style="user-select: text;white-space:pre;" [innerHTML]="to_display">
      </p>
  </div>


  <!--  <ion-input (keypress)="onChange($event)" [(ngModel)]="to_exec" type="text" style="color:red; position:absolute;"></ion-input>-->

</ion-content>
