page-home {

  #div_cit_blockstart {
    text-align: center;
    font-size: 3vw;
    position: fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}
