<ion-content padding [ngSwitch]="current_div" [ngStyle]="{ 'background-color': bg_color }" text-wrap>

  <div *ngSwitchCase="'div_start'">

    <div>
      <button ion-button type="button" (tap)="switch_divs('div_items');">Start new test</button></div>

    <br /><br />
    <div>
      <button ion-button type="button">Previous results</button>
    </div>
  </div>

  <div *ngSwitchCase="'div_items'">
    <form (ngSubmit)="switch_divs('div_instructions');">
      <ion-item>
        <ion-label stacked>Target</ion-label>
        <ion-input [(ngModel)]="cit_items[0]" name="target" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Probe item 1</ion-label>
        <ion-input [(ngModel)]="cit_items[1]" name="probe1" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Probe item 2</ion-label>
        <ion-input [(ngModel)]="cit_items[2]" name="probe2" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Probe item 3</ion-label>
        <ion-input [(ngModel)]="cit_items[3]" name="probe3" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Probe item 4</ion-label>
        <ion-input [(ngModel)]="cit_items[4]" name="probe4" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Probe item 5</ion-label>
        <ion-input [(ngModel)]="cit_items[5]" name="probe5" type="text"></ion-input>
      </ion-item>
      <button ion-button type="submit" block>OK</button>
    </form>
  </div>


  <div *ngSwitchCase="'div_instructions'">

    <ion-title>
      Instruktionen für die Aufgabe
    </ion-title>
    <p>Während der Aufgabe werden Sie im unteren Bereich des Displays zwei Schaltflächen sehen: Eine auf der <i>linken Seite</i> und eine auf der <i>rechten</i>. In diesem aktuellen Teil benutzen Sie bitte nur Ihren linken und rechten <b>{{crrnt_handpos}}</b>
      zum Antippen!
      <span [innerHTML]="task_instruction"></span></p>
    <div text-center>
      <button ion-button type="button" (tap)="nextblock();">OK</button>
    </div>
  </div>

  <div *ngSwitchCase="'div_target_check'" [ngStyle]="{'pointer-events': pointev.div_target_check || 'none' }">

    <span><b>Um sicherzustellen, dass Sie sich die Details, auf die Sie mit JA antworten sollen, genau einprägen, geben Sie diese bitte hier ein.</b>
    </span>

    <ion-grid>
      <ion-row>
        <ion-col>
          <br /><span style="padding-left: 16px;"> Vorname:</span>
          <ion-item text-uppercase>
            <ion-input [(ngModel)]="targ_check_inp[0]" type="text" text-uppercase>
            </ion-input>
          </ion-item>
        </ion-col>

        <ion-col>
          <br /><span style="padding-left: 16px;">Nachname:</span>
          <ion-item>
            <ion-input [(ngModel)]="targ_check_inp[1]" type="text" text-uppercase>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <br />
    <div text-center>
      <button ion-button (tap)="target_check();">OK</button>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>


  <div *ngSwitchCase="'div_blockstart'">
    <p [innerHTML]="block_texts[blocknum]"></p>
    <i>(Bitte stellen Sie sicher, dass Sie Ihre <b>{{crrnt_handpos}}</b> zum Antippen benutzen.)</i><br /><br />
    <div text-center>
      <button ion-button (tap)="runblock();">Start</button>
      <br /><br />
      <hr />
      <button ion-button style="text-transform: none;background-color:#5e749d;" (tap)="switch_divs('div_instructions');">Anweisungen erneut anzeigen</button>
    </div>
  </div>


  <div id="div_cit_main" *ngSwitchCase="'div_cit_main'">
    <p id="feed_id"><b>{{feed_text}}</b></p>
    <p id="label_top" *ngIf="visib.labels">Erkannt?</p>

    <p (touchstart)="touchstart($event, 'resp_a');" (touchend)="touchend($event, 'resp_a');" id="resp_left" class="resp_buttons"></p>

    <p (touchstart)="touchstart($event, 'resp_b');" (touchend)="touchend($event, 'resp_b');" id="resp_right" class="resp_buttons"></p>

    <p id="label_left" class="labels" *ngIf="visib.labels">Nein</p>

    <p id="label_right" class="labels" *ngIf="visib.labels">Ja</p>

    <p id="stimulus">{{stimulus_text}}</p>

    <p id="start_text" (tap)="visib.start_text = false; start_trials();" *ngIf="visib.start_text">Tippen Sie hier, um zu beginnen.</p>
  </div>

  <div *ngSwitchCase="'div_end'">
    <header>
      <ion-navbar>
        <ion-title>
          Ende
        </ion-title>
      </ion-navbar>
    </header>
    <b>Bitte senden Sie die Daten mit folgender Taste (wählen Sie nach dem Tastendruck aus den angegebenen Applikationen Ihr Email-Programm aus):
      <div text-center>
        <button ion-button type="button" (tap)="send_mail()" style="text-transform: none;">DATEN SENDEN</button>
      </div>
      <br /> Stellen Sie sicher, dass sich eine Datei im Anhang befindet. Wenn es irgendwelche Probleme gibt, geben Sie uns Bescheid. Nach dem Versenden der Mail können Sie die Applikation beenden. Vielen Dank für Ihre Teilnahme.
    </b>
    <br />
    <br />Kurze Information über den Test:
    <br> In dieser Studie versuchen wir, Ihre wirklichen selbstbezogenen Details (z.B. Ihren tatsächlichen Vornamen) von solchen zu unterscheiden, die Ihnen nicht zugehörig sind (z.B. andere Vornamen). Ziel dieses Tests ist es, anhand von
    Reaktionszeiten
    herauszufinden, wenn eine Person versucht, bestimmte Daten zu verschleiern bzw. zu verheimlichen. Dies geschieht auf Basis der Vermutung, dass Reaktionszeiten für die Ihnen präsentierten eigenen Namen langsamer ausfallen, als im Falle anderer
    Namen. Hauptanliegen der aktuellen Studie ist es, zu zeigen, ob dies besser mit Daumen oder Zeigefinger funktioniert.
    <br><br>
    Bezüglich Ihrer Ergebnisse: Der Unterschied zwischen Ihrem eigenen Namen und den anderen Namen ist standardisiert. Dieser Wert liegt üblicherweise zwischen -1 und 5. Ist der Wert größer als 0.1, kategorisieren wir diese Person als schuldig. Ihr
    Wert liegt bei {{personal_feedback}}.

    <br><br> Falls Sie sich für die endgültigen Ergebnisse der Studie interessieren, senden Sie einfach eine Email mit dem Betreff "FEEDBACK" an die gleiche Addresse, die Sie zum Senden der Datei genutzt haben (gaspar.lukacs@univie.ac.at). Wir
    senden Ihnen dann gerne eine Kopie des resultierenden Manuskripts zu (etwa im Laufe eines halben Jahres).
    <br>Für weitere unmittelbare Informationen wenden Sie sich bitte an den Versuchsleiter.
    <br />
    <br />
    <br />
    <hr />
    <hr />
    Technical details:
    <br />
    <p style="user-select: text;white-space:pre;" [innerHTML]="to_display">
    </p>
  </div>


  <ion-input (keypress)="onChange($event)" [(ngModel)]="to_exec" type="text" style="color:red; position:absolute;"></ion-input>
  <!-- app console for testing -->

</ion-content>
